* {
  font-size: 20px;
  font-weight: 500;
}
.container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  margin-top: 10px;
  box-shadow: rgba(15, 251, 3, 0.975) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
}

.tablediv {
  border-collapse: collapse;
  border: 1px solid;
  margin: auto;
  margin-top: 10px;
  /* padding: 20px; */
  width: 60%;
  text-align: center;
}
.thead .tr .th {
  border: 1px solid;
  background-color: teal;
  color: white;
  height: 40px;
  border-radius: 5px;
}
.td {
  border: 1px solid;
}
.btn1 {
  width: 80%;
  font-size: 20px;
  font-weight: 500;
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 40px;
}
.btn1:hover {
  background-color: green;
  cursor: pointer;
  transition: 0.5s;
}
